{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>
    <a href="Fight/index" class="d-flex justify-content-center pt-5">
        <img src="assets/images/button_fight.png">
    </a>
{% endblock %}
